/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,400;1,900&display=swap');

/*Basic*/ 
:root {
    --v-s: 1vmin;
    --v-m: 8vmin;
    --v-l: 30vmin;
    --top-space: 8vmin;
    /*шрифт*/
    --fs-xs: 14px;
    --fs-s: 1.2rem;
    --fs-m: 2.6rem;
    --fs-l: 3.2rem;
    --fs-xl: 5.5rem;
    --xxs: .8rem;
    --xs: 1.3rem;
    --s: 2.2rem;
    --m: 3rem;
    --l: 5rem;
    --xl: 8rem;
    --black: #111;
}
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;    
}
* {
    box-sizing: border-box;
}
html {
    font-size: clamp(var(--fs-s), calc((1vh + 1vw)), 20px);
    line-height: 1.2;
    /* text-align: justify; */
}
body {
    font-family: 'Montserrat';
    color: #29282d;
    font-weight: normal;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    color: inherit;
    cursor: pointer;
}
img{
    width: 100%;
}
video {  
    width: 100%;
    padding-bottom:  var(--s);
}
.sp{
    padding: 0 var(--s);
}
/*Markets*/
.market {
    margin: 0 auto;
    padding: .4em;
  }
  
  .markets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: var(--s);
  }

.hkog{
    font-size: var(--fs-s);

}
.instructia{
    text-decoration: underline;
}
.razdel{
    height: 2.5em;
}
.wrapper  {
    height: 100vh;
    overflow-y: scroll;
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
}
.scroll-snap {
    scroll-snap-align: start;
    scroll-margin-top: var(--top-space);
}
header{
   position: sticky;
   top: 0;
   height: 9vh;
   background-color: white;
   display: flex;
   justify-content: space-between;
   /* margin: 0 -5px; */
   padding: 0 var(--xxs);
   align-items: center; 
   box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
header a{
    padding: var(--xxs);
}
.logo{
    width: 6rem;

    /* padding-left: .1em; */
}
.previous{
    font-size: 110%;
}
.arrow {
    width: 15px;
    height: 15px;
    border-top: 2px solid #29282d;
    border-right: 2px solid #29282d;
    margin-right: 60px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
}  
nav{
    /* padding: var(--xs); */
    background-color: white;
    /* z-index: 1000; */
}
.fh{
    padding-top: var(--xxs);
}
.menu{
    z-index: 1;

}
video {
    z-index: -1;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
/* обложка */
.main{
    height: 91vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
/* .productcoll{
    height: 91vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
} */
.videowrapper {
    flex: 1 1 0;
    background-image: url(./v/file.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    overflow: hidden;
    z-index: -1;
}
.videowrapper img{
    height: 100%;
    object-fit: none;
    width: auto;
}
.swimg1{
    background-image: url(./i/instructia.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: var(--m);
}
.swimg2{
    background-image: url(./i/instructia2.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: var(--m);
}
.swimg3{
    background-image: url(./i/instructia3.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: var(--m);
}
.swiper-button-prev::after {
    color: #29282d; 
}

.swiper-button-next::after {
    color: #29282d; 
}
.swiper {
    width: 100%;
    height: 400px;
}
/* iframe{
    width: 1700px;
    height: 900px;
} */
/* .swiper-pagination-bullet-active::after{
    color: #000; 
} */
/* блоки */
.block{
    /* text-align: center; */
    width: 100%; 
}
.productwrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--xxs);
    text-align: left;;
}
.productblock{
    padding:  var(--xxs) 0;
    width: 100%; 
    flex: 1 0 30%;
    min-width: 290px;
    /* font-size: var(--fs-xs); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align:center; */
    /* padding: var(--xs) var(--xs);    */
}
.productblock a{   
    text-decoration: underline;
}
.productblock img{   
    margin-bottom: .5em;
}
.text{
    padding:  var(--xxs) 0;
    text-align: left;
    word-wrap: break-word;
    /* white-space: nowrap; */
    /* font-size: var(--fs-s); */
}
.textlast{
    margin-bottom: var(--m);
}
.kigelia p{
    padding: var(--s) 0;
}
h2 {
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    font-weight: normal;
    display: block;
    /* width: 70%; */
    /* margin: 0 auto; */
    text-align: center;
    font-size: 1.6rem;
    line-height: 1;
}

.inst{
    background-image: url(./i/instructia.jpg);
}
.tech{
    padding: var(--xs) var(--xs);
}
h4 {
    padding: 0 var(--xs);
}
.imgblock1{
    width: 100%;  
    padding:  var(--xs) 0;
}
.imgblock2{
    /* width: 88%;   */
    padding:  .2em var(--s);
    margin: 0 auto;
}
.imgsquare{
    float: left; 
    margin-right: var(--s); 
    margin-bottom: var(--xxs); 
    margin-top: var(--xxs); 
    width: 10rem;
}
.imgsquaregreen{
    float: right; 
    margin-left: var(--xxs); 
    margin-bottom: var(--xxs); 
    margin-top: var(--xs); 
    width: 45%;
}
.imgkosmetolog{
    float: left; 
    margin-right: var(--xxs); 
    /* margin-bottom: var(--xxs);  */
    width: 10rem;
}
.imgkosmetolog:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.expert text{
    float: right;
}
.expert {
    padding-top: var(--xxs);
    padding-bottom: var(--s);
    /* height: 10rem; */
}
.expert p{
    text-align: left;   
}
.expert h3{
    text-align: left;
    margin-bottom: var(--xxs);
}
.columns{
    max-width: 100ch;
    margin: 0 auto;
    /* font-size: var(--fs-xs); */
}
.niz{
    padding: var(--s);
}
.niz a{
    padding: .5em;
}
video {
    z-index: -1;
}
.si{
    background-image: url(.i/instructia.jpg);
}
.dist{
    margin-bottom: var(--l);
}
.list{
    display: flex;
    justify-content: center;
}

footer{
    background: linear-gradient(to top, #8AA1B8, #D2DBE2);
    /* height: 20%; */
    margin-top: var(--m);
    font-size: var( --fs-xs);
}
.footercontent{
    display: flex;
    justify-content: space-between;
    gap: var(--s);
}
.footercontent a{
   text-decoration: underline;
}
.arrow-top {
    width: 15px;
    height: 15px;
    border-top: 2px solid #222222;
    border-right: 2px solid #222222;
    margin: 60px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
} 
.footercontent div{
    padding: var(--xs);

}
.footercontent li{
    text-decoration: none;
    list-style-type: none;
}
 /* burger */
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
    /* float: right; */
    /* display: flex;
    flex-direction: end; */
    /* margin-left: 2em; */
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #29282d;
	transition: all 0.5s;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 35%;*/padding: 5px;
	background: white;
	transform: translateY(-120%);
	transition: transform 0.5s;
	text-align: center;
	font-weight: bold;
	-webkit-transform: translateY(-120%);
	-moz-transform: translateY(-120%);
	-ms-transform: translateY(-120%);
	-o-transform: translateY(-120%);
}
.menu.active {
	transform: translateY(0);
}
.menu li {
	list-style-type: none;
}
.menu a {
    text-decoration: underline;
}
/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
    display: none;
}
.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

/* begin begin Back to Top button  */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background: #a2cac9;
    color: #222222; 
    cursor: pointer; 
    padding: 15px;   
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background: #555; /* Add a dark-grey background on hover */
    color: white;
  }
  
  /* end begin Back to Top button  */
  /* media  */


  /* @media screen and (device-width: 700px) {  
    .menu .active{
        height: 600px;
    }    
  } */



